.caja {
	width: 600px;
	border: 1px solid #CCC;
}

.box {
	width: 25%;
	height: 100px;
	float: right;
}

.amarillo {
	background-color: #FFFF00;
}

.azul {
	background-color: #3A81BA;
}

.rojo {
	background-color: #ED2251;
}

.bloque {
	width: 25%;
	height: 100px;
	float: right;
}

.amarillo {
	background-color: #FFFF00;
}

.azul {
	background-color: #3A81BA;
}

.rojo {
	background-color: #ED2251;
}
.dis {
    border-spacing:5px;
    border-style: inset;
    border-radius: 150%;
    background-color: #00FFFF;
    padding:20px;
    color:black;
    position:absolute;
    margin:150px 40px;
}